<%- include("template/header.ejs") %>

<section id="hero">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/btc.png" alt="" width="mx-auto" height="57">
        <h1 class="m-0" style="color: white; font-weight: 200;">Show the price of <span style="color: #9693f5;">A</span> with</h1>
        <h1 class="m-0" style="color: white; font-weight: 200;">the market cap of <span style="color: #9693f5;">B</span></h1>
        <div class="twoCrypto container mt-5">
          <form action="/" method="POST" id="form1">
            <div class="row row1">
              <div class="col"> 
                <input type="text" class="crypto 1 form-control" placeholder="Coin 1" id="fcoin1" name="fcoin1">
              </div>
              <div class="col">
                <button type="submit" id="calculate" class="calculatebutton btn">Calculate</button>
              </div>
              <div class="col">
                <input type="text" class="crypto 2 form-control" placeholder="Coin 2" id="fcoin2" name="fcoin2">
              </div>
            </div>
          </form>
        </div>
      </div>
</section>

<% if (crypto1 && crypto2) { %>
  <section id="compartingcoins">
    <div class="container comparing my-5 pb-4">
      <div class="mb-5">
        <ul class="list-group  list-unstyled list-group-horizontal justify-content-center">
          <li class="list-group-item c_active">
            <a href="#" class="toggle-price nav-link"><%= crypto2.symbol %> NOW</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="toggle-price nav-link"><%= crypto2.symbol %> ATH</a>
          </li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="mb-2"><span style="color: #9693f5;"><%= crypto1.symbol %></span> WITH THE MARKET CAP OF <span style="color: #9693f5;"><%= crypto2.symbol %></span></h3>
        <div class="d-flex justify-content-center align-items-center">
          <img src="<%= crypto1.logo %>" alt="" style="width: 34px; height: 34px; margin-right: 10px;">
          <h2 m-0>$<span id="price"><%= (crypto1.quote.USD.price*(crypto2.quote.USD.market_cap/crypto1.quote.USD.market_cap)).toFixed(2) %></span> <span class="multiple" style="color: #38c983;">(<%= (crypto2.quote.USD.market_cap/crypto1.quote.USD.market_cap).toFixed(2) %>x)</span></h2>
        </div>    
      </div>
      <div class="d-flex justify-content-center">
        <input type="text" class="crypto form-control w-75" placeholder="Amount" id="amount" name="famount">
      </div>
    </div>
  </section>
<% } %>

<section id="topCryptos">
  <div class="container">
    <div class="d-flex justify-content-center mb-3">
      <h1 class="mb-1" style="color: #9593f5;">Top 20 Crypto</h1>
    </div>
    <div class="d-flex justify-content-center">
      <form id="coin-form" method="get" class="d-flex gap-1">
        <input type="text" class="crypto form-control" placeholder="Coin Symbol (BTC)" id="fcoin" name="fcoin">
        <button type="submit" class="calculatebutton btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table-dark crtable">
        <thead> 
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Market Cap</th>
            <th scope="col">Volume(24h)</th>
            <th scope="col">Circulating Supply</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < data.length; i++ ) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><a href="/<%= data[i].symbol %>" style="text-decoration: none; color: white;"><img src="<%= data[i].logo %>" class = "cryptologos" alt="Logo" style="width: 32px; height: auto; margin-right: 5px;" /><span><%= data[i].name %> <span style="font-weight: 400; color: #595f70;";"><%= data[i].symbol %></span></span></a></td>
              <td>$<%= (Number((data[i].quote.USD.price).toFixed(2)).toLocaleString()) %></td>
              <td>$<%= (Number((data[i].quote.USD.market_cap).toFixed(2)).toLocaleString()) %></td>
              <td>$<%= (Number((data[i].quote.USD.volume_24h).toFixed(2)).toLocaleString()) %></td>
              <td><%= (Number(data[i].circulating_supply.toFixed(2)).toLocaleString()) %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<%- include('template/footer.ejs') %>