<%- include("template/header.ejs") %>

<section id="hero">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/btc.png" alt="" width="mx-auto" height="57">
        <h1 class="m-0" style="color: white; font-weight: 200;">Show the price of <span style="color: #9693f5;">A</span> with</h1>
        <h1 class="m-0" style="color: white; font-weight: 200;">the market cap of <span style="color: #9693f5;">B</span></h1>
        <div class="twoCrypto container mt-5">
          <form action="/" method="POST" id="form1">
            <div class="row row1">
              <div class="col"> 
                <input type="text" class="crypto 1 form-control" placeholder="Coin 1" id="fcoin1" name="fcoin1">
              </div>
              <div class="col">
                <button type="submit" class="calculatebutton btn">Calculate</button>
              </div>
              <div class="col">
                <input type="text" class="crypto 2 form-control" placeholder="Coin 2" id="fcoin2" name="fcoin2">
              </div>
            </div>
          </form>
        </div>
      </div>
</section>


<section id="topCryptos">
  <div class="container">
    <div class="d-flex justify-content-center mb-3">
      <h1 class="mb-1" style="color: #9593f5;">Top 20 Crypto</h1>
    </div>
    <table class="table-dark crtable">
      <thead> 
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Market Cap</th>
          <th scope="col">Volume(24h)</th>
          <th scope="col">Circulating Supply</th>
        </tr>
      </thead>
      <tbody>
        <% for( let i = 0; i < data.length; i++ ) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><img src="<%= data[i].logo %>" class = "cryptologos" alt="Logo" style="width: 32px; margin-right: 5px;" /><%= data[i].name %> <%= data[i].symbol %></td>
            <td>$<%= (Number((data[i].quote.USD.price).toFixed(2)).toLocaleString()) %></td>
            <td>$<%= (Number((data[i].quote.USD.market_cap).toFixed(2)).toLocaleString()) %></td>
            <td>$<%= (Number((data[i].quote.USD.volume_24h).toFixed(2)).toLocaleString()) %></td>
            <td><%= (Number(data[i].circulating_supply.toFixed(2)).toLocaleString()) %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<%- include('template/footer.ejs') %>