<%- include("template/header.ejs") %>

<section id="hero">
    <div class="container d-flex align-items-baseline gap-2 mt-5">
        <div>
            <p style="border-radius: 50%; background-color: white; padding: .25em;">🚀</p>
        </div>
        <div>
            <p style="font-size: 1.25em; color: #a2a8b8;">My Main Portfolio</p>
        </div>
    </div>
    <div class="container d-flex justify-content-between">
        <div>
            <h1>$<%= Number(Number(total).toFixed(2)).toLocaleString() %></h1>
        </div>
        <div>
            <a class="addcoins" id="togglebutton" style="cursor: pointer;">+ Add Coin</a>
        </div>
    </div>
    <div class="inactive container mt-5" id="addcoinform">
        <div class="d-flex justify-content-center">
            <h3 class="mb-3">Add Coin</h3>
        </div>
        <div class="d-flex justify-content-center">
            <form action="" method="POST" id="coin_portfolio" style="width: 200px;">
                <input autocomplete="off" type="text" class="search-bar crypto form-control mt-2" placeholder="Coin" id="coin" name="coin">
                <ul class="dropdown" id="coinlist"></ul>
                <input autocomplete="off" type="text" class="crypto form-control mt-2" placeholder="Amount" id="amount" name="amount">
                <input autocomplete="off" type="text" class="crypto form-control mt-2" placeholder="Avg. Buy Price" id="avg_buy_price" name="avg_buy_price">
                <input autocomplete="off" type="text" class="crypto form-control mt-2" placeholder="Avg. Sell Price" id="avg_sell_price" name="avg_sell_price">
                <button type="submit" class="calculatebutton btn mt-2 px-4">+ Add Coin</button>
            </form>
        </div>
    </div>
</section>

<section id="portfolio assets">
    <div class="container mt-5 border-top pt-4">
        <h3>Assets</h3>
        <div class="table-responsive">
            <table class="table-dark crtable">
              <thead> 
                <tr>
                  <th scope="col" style="padding-left: 0px;">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Market Cap</th>
                  <th scope="col">Holdings</th>
                  <th scope="col">Avg. Buy Price</th>
                  <th scope="col">Profit/Loss</th>
                  <th scope="col">Sell Price</th>
                  <th scope="col">Potential Profit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>

              <% if (entries.length > 0) { %>
                <tbody>
                    <% for( let i = 0; i < entries.length; i++ ) { %>
                        <tr id="row<%= entries[i].id %>">
                            <td style="padding-left: 0px;"><a href="/coin/<%= entries[i].name %>" style="text-decoration: none; color: white;"><img src="<%= entries[i].logo_url %>" class = "cryptologos" alt="Logo" style="width: 32px; height: auto; margin-right: 5px;" /><span><%= entries[i].name %><span style="font-weight: 400; color: #595f70;";"> <%= entries[i].symbol %></span></span></a></td>
                            <td>$<%= Number(Number(entries[i].price).toFixed(2)).toLocaleString() %></td>
                            <td>$<%= Number(Number(entries[i].market_cap).toFixed(2)).toLocaleString() %></td>
                            <td><%= entries[i].amount.toLocaleString() %></td>
                            <td>$<%= entries[i].avg_buy.toLocaleString() %></td>
                            <td class="pnl">$<%= Number((entries[i].amount * (entries[i].price - entries[i].avg_buy)).toFixed(2)).toLocaleString() %></td>
                            <td>$<%= entries[i].avg_sell.toLocaleString() %></td>
                            <td>$<%= Number((entries[i].amount * (entries[i].avg_sell - entries[i].avg_buy)).toFixed(2)).toLocaleString() %></td>
                            <td><a class="a_trash" value="<%= entries[i].id %>" style="text-decoration: none;" href="#"><svg class="trash" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="32px" height="32px" fill-rule="nonzero"><g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8.53333,8.53333)"><path d="M14.98438,2.48633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v0.5h-5.5c-0.26757,-0.00363 -0.52543,0.10012 -0.71593,0.28805c-0.1905,0.18793 -0.29774,0.44436 -0.29774,0.71195h-1.48633c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-1.48633c0,-0.26759 -0.10724,-0.52403 -0.29774,-0.71195c-0.1905,-0.18793 -0.44836,-0.29168 -0.71593,-0.28805h-5.5v-0.5c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212zM6,9l1.79297,15.23438c0.118,1.007 0.97037,1.76563 1.98438,1.76563h10.44531c1.014,0 1.86538,-0.75862 1.98438,-1.76562l1.79297,-15.23437z"></path></g></g></svg></a></td>
                        </tr>
                    <% } %>
                </tbody>
              <% } else { %>
                <tr>
                    <td colspan="12" class="text-center">You Have No Coin Inserted</td>
                </tr>
              <% } %>

            </table>
          </div>
    </div>
</section>

<script src="/portfolioListeners.js"></script>
<%- include('template/footer.ejs') %>